{% extends "PostBundle::base.html.twig" %}

{% block title %}PostBundle:Post:index{% endblock %}

{% block body %}

<h1>Nouveau post</h1>	

  {{ form_start(formulaire) }}

      <div class="row">
         <div class="col-md-8 col-md-offset-2">
           <div class="form-group">
            {{ form_label(formulaire.category) }}
            {{ form_widget(formulaire.category, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(formulaire.category) }}
          </div>
            <div class="form-group">
            {{ form_label(formulaire.title) }}
            {{ form_widget(formulaire.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(formulaire.title) }}
          </div>
          <div class="form-group">
           {{ form_label(formulaire.content) }}
            {{ form_widget(formulaire.content, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
           {{ form_label(formulaire.datepublication) }}
            {{ form_widget(formulaire.datepublication, {'attr': {'class': 'form-control'}}) }}
          </div>
           
           <hr>
            <div class="form-group">
              {{ form_row(formulaire.image.alt, {'attr': {'class': 'form-control', 'placeholder': 'Merci de mettre une description d image'}}) }}
            </div>

             <div class="form-group">
              {{ form_row(formulaire.image.url, {'attr': {'class': 'form-control'}}) }}
            </div>
           <hr>

          <div class="checkbox">
            <label for="">
              {{ form_widget(formulaire.active) }}
               active
            </label>
            
          </div>

          <div class="form-group">
            {{ form_row(formulaire.add, {'attr': {'class': 'btn btn-success btn-block'}}) }}
          </div>
         </div>
         
        </div>  

  {{ form_end(formulaire) }}
{% endblock %}
